:root {
  --orangeColor: #ff4e02;
  --poppins: "poppins", sans-serif;
  --colorGrey: #5f5f5f;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  font-family: var(--poppins);
}

html,
body {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
}
.flex {
  display: flex;
}
.fdcol {
  flex-direction: column;
}
/* Card Styling starts from here */
.card {
  width: 475px;
  min-height: 650px;
  height: auto;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 6px 1px 84px -4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 6px 1px 84px -4px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 6px 1px 84px -4px rgba(0, 0, 0, 0.1);
  background: white;
}
.upperSection {
  width: 100%;
  height: 280px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}
.upperSection img {
  width: 120px;
  height: auto;
  object-fit: contain;
}
.title {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.title h1 {
  font-size: 45px;
}
.title p {
  font-size: 17px;
  letter-spacing: 2px;
  color: var(--colorGrey);
  font-weight: 500;
}

.lowerSection {
  width: 100%;
  min-height: 370px;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

.sub-title {
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 2px;
  font-weight: 500;
  color: var(--colorGrey);
}
.lowerSection a {
  color: var(--orangeColor);
  font-size: 20px;
  font-weight: 600;
}
.lowerSection a:hover {
  transition: 0.3s;
  color: #8d2a00;
}
@media (max-width: 600px) {
  .title h1 {
    font-size: 42px;
  }
  .title p {
    font-size: 15px;
  }
  .sub-title {
    font-size: 13px;
  }
  .lowerSection a {
    font-size: 18px;
  }
}
